body {
	background-color: #b29f94;
	font-family: 'Francois One', sans-serif;
}



.jumbotron {
	margin-top: 15px;
	text-align: center;
	background-color: #bdc3c7;
	
	background-image: url("../images/headerBackground.jpg");
	background-size: contain;
	background-size:cover cover;                     
    background-repeat: no-repeat;
    
}
	.panel{
		
		
	}
	button {
		width: 100%
	}

.jumbotron h1 {
	margin-left: 300px;
}
@media screen and (max-width: 980px) {
	.jumbotron h1{
		font-size: 45px;
	}
	}

@media screen and (max-width: 768px) {
	body{
		background-color: black;
	}
}











