body {
	background-color: #a6a5b7;
	font-family: 'Francois One', sans-serif;
}

i {
	margin-right: 5px;
}
#time {
	text-align: center;
}
#date {
	text-align: center;
}
.jumbotron {
	/*margin-top: 15px;*/
	/*text-align: center;*/
	background-color: #9c9c9c;
	color: #44146f;
	
	/*background-image: url("../images/headerBackground.jpg");*/
	/*background-size: contain;
	background-size:cover cover;                     
    background-repeat: no-repeat;*/
    
}
.current {
	text-align: center;
	
}
	.panel-default>.panel-heading {
		background:#dbdcdd;

	}
	.panel-default>.panel-body {
		background:#f4f5f6;
	}
	button {
		background-color:#44146f !important ;
		width: 100%;
		font-size: 18px !important;
		color: white ;
	}
	button:hover {
		background-color:#a6a5b7 !important ;
		width: 100%;
		color: #44146f !important;
	}
.jumbotron h1{color: black}

@media screen and (min-width: 370px) {
	.jumbotron h1{
		text-align: center;
		font-size: 26px;
		margin-bottom: 0px;

	}

	td {
					text-align: center;
					font: 600 16px "Lato","Open Sans","Helvetica Neue",Arial,sans-serif;
	}

	th {
		font-weight: 900;
			text-align: center;
			font-size: 18px;
			font-family: "Lato","Open Sans","Helvetica Neue",Arial,sans-serif;

	}
	.jumbotron h2{
		text-align: center;
		font-size: 24px;
		

	}
	img {
		margin-top: -20px;
		margin-left: -10px;
		width: 330px;
		height: 230px;

	}
	.panel {
		font-size: 65%;
	}

	}
@media screen and (min-width: 667px) {
	.jumbotron h1{
		text-align: center;
		font-size: 30px;
		margin-bottom: 0px;
	}
	img {
		margin-top: -20px;
		margin-left: -10px;
		width: 630px;
		height: 500px;

	}
	.panel {
		font-size: 80%;
	}

	}

@media screen and (min-width: 768px) {
	.jumbotron h1{
		
		font-size: 40px;
		margin-bottom: 0px;
	}
	.jumbotron h2{
		text-align: center;
		font-size: 34px;
		margin-bottom: -10px;

	}
	img {
		margin-top: -40px;
		margin-left: -50px;
		width: 700px;
		height: 500px;

	}
	.panel {
		font-size: 100%;
	}

	}


@media screen and (min-width: 1024px) {
.jumbotron h1{
		
		font-size: 50px;
		margin-bottom: 0px;
		margin-top: 0px;
		margin-right: 0px;
	}
	img {
	margin-bottom: -40px;
		width: 400px;
		height: 240px;

	}
	

	}







